<p style="color: green"><%= notice %></p>

<h1>Searches</h1>

<div id="searches">
  <% @searches.each do |search| %>
    <%= render search %>
    <p>
      <%= link_to "Show this search", search %>
    </p>
  <% end %>
</div>

<%= link_to "New search", new_search_path %>
